* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a,
span {
  display: inline-block;
}

a,
button {
  border: 0;
  outline: 0;
  box-shadow: 0;
  text-decoration: none;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  outline: none !important;
}
